
.container {
    min-height: 100vh;
    text-align: center;
    background-color: #282c34;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
}