.card {
    /* border: 1px solid #dadada; */
    /* box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.2s;
    flex: 1; /* additionally, equal width */
    /* padding: 1em; */
    /* border: solid; */
}

.card:hover {
    /* box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.card__title {
    margin: 0;
    font-weight: 300;
    text-decoration: none;
}

.card__title  a {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
    text-decoration: none;
}
.card__content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.card__description {
  margin-bottom: 5px;
  font-size: 15px;
  color: #2c2c2c;
  text-decoration: none;
}

  @media screen and (max-width: 1090px) {
    .wrapper {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
