:root{
    --bg-container: rgb(173, 173, 173);
    --bg-container-shadow: #ccc;
    --bg-overall: white;
    --th-dropdown: grey;
    --th-dropdown-hover: rgb(75, 75, 75);
    --profile-icon: #f21f1f;
}

.Nav-cover {
    min-width: 100ch;
    box-sizing: border-box;
    position: static;
    z-index: auto;
    /* overflow: hidden; */
}

.Nav-container {
    background: var(--bg-container);
    margin-bottom: -4px;
    position: relative;
    left:0;
    right:0;
}

.Nav-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5px; /* adjust the value to control the distance between the navbar and the grey layer */
    background-color: var(--bg-container-shadow);
    z-index: -1;
  }
  

.Nav-container-inner {
    background: var(--bg-overall);
    margin-top: 4px;
}

.Nav-in-cover {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    display: block;
}

.Nav-root-shadow {
    min-height: 70px;
    align-items: center;
    position: relative;
}

.Nav-root-shadow::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* adjust the value to control the distance between the navbar and the grey layer */
    width: 100%;
    height: 5px;
    background-color: var(--bg-container-shadow);
  }

.Nav-root {
    min-height: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.Nav-icon {
    user-select: none;
    width: 64px;
    height: 64px;
    padding-top: 15px;
    margin-right: -30px;
}

.Nav-text {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-decoration: none;
    margin: 0;
}

.Nav-multibox-root {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.Nav-btn{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--bg-overall);
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--th-dropdown);
    display: block;
}

.Nav-dropdown{
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.Nav-btn-drop{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: relative;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    background-color: transparent;

    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    vertical-align: middle;

    -webkit-text-decoration: none;
    text-decoration: none;

    color: inherit;
    text-align: center;

    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0px;
}

.Nav-btn-icon{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--bg-overall);
    background-color: var(--profile-icon);
    /* just to aligh text center */
    text-align: center;
    padding-top: 5px;
}

.Nav-span{
    cursor: pointer;
    color: inherit;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.Nav-dropdown-container{
    opacity: 1;
    transform: none;
    transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 178ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 60px;
    right: 0px;
    transform-origin: 112px -1.75px 0px;
    background-color: grey;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 80px;
    min-height: 208px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0;
    z-index: 1;
}

.Nav-dropdown-list{
    background: var(--th-dropdown);
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 0;
}

.Nav-list-item{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: relative;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    background-color: transparent;

    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    vertical-align: middle;

    -webkit-text-decoration: none;
    text-decoration: none;

    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.0;
    letter-spacing: 0.00938em;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;

    -webkit-text-decoration: none;
    text-decoration: none;

    min-height: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 16px;
    padding-right: 16px;
}

.Nav-list-item:hover{
    background-color: var(--th-dropdown-hover);
}