

.container{
    background: #fff;
    height: 420px;
    width: 600px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 30px rgba(173, 185, 236, 0.9);
    display: flex;
    justify-content:center;
    align-items: center;
}

.gotoPrev{
    height: 25px;
    width: 25px;
    /* background: black; */
    position: absolute;
    top: 80%;
    left: 1%;
    border-radius: 50%;
    cursor: pointer;
}

.secondToggle{
    height: 25px;
    width: 25px;
    /* background: black; */
    position: absolute;
    top: 50%;
    border-radius: 50%;
    cursor: pointer;
    right: 3.5%;
}

.box{
    height: 360px;
    max-width: 500px;
}

.image-box {
    display:flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: .3s;
}

i {
    color: #89a5de;
    font-size: 45px;
    text-align: center;
    transition: .3s;
}

i:hover{
    color: #000;
}